/* ----------------------- GLOBAL ELEMENTS ----------------------- */
h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

/* ----------------------- MAIN APP ----------------------- */
.fullAppDiv {
  position: relative;
}

.navBarDiv {
  background-color: rgba(100, 100, 100, 0.8);
  height: 30px;
}

.belowNavDiv {
  display: flex;
}

.rightContentDiv {
  display: flex;
  flex-direction: column;
}

/* ----------------------- USER ----------------------- */
.userFullDiv {
  background-color: lightgreen;
  padding: 15px;
  width: 30vw;
}

/* ----------------------- ROADMAP ----------------------- */
.roadMapFullDiv {
  background-color: aqua;
  padding: 15px;
  width: 70vw;
  min-height: 150px;
}

/* ----------------------- PROBLEM LIST ----------------------- */
.probListFullDiv {
  background-color: bisque;
  padding: 15px;
  width: 70vw;
  min-height: 150px;
}

/* ----------------------- QUESTION FORM ----------------------- */
.questFormFullDiv {
  background-color: rgba(225, 225, 225, 0.9);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.questForm {
  display: flex;
  flex-direction: column;
}

.questLabels {
  font-weight: bold;
}

.inputBox {
  width: 200px;
  min-height: 30px;
  margin-bottom: 15px;
}

.questBtnDiv {
  display: flex;
  justify-content: space-between;
}

.questBtn {
  height: 35px;
  width: 95px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
}

.questBtn:hover {
  background-color: lightskyblue;
}

/* ----------------------- QUESTION ----------------------- */
.questionFullDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  background-color: lightgray;
  border-radius: 3px;
  padding: 10px;
  padding-bottom: 20px;
}

.questNameDiv {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.questionName {
  margin-right: 5px;
}

.questionName:hover {
  color: blue;
}

.questNameArrow {
  font-size: 15px;
}

.questionDesc {
  margin-bottom: 5px;
}

.questionRateDiv {
  display: flex;
  margin-bottom: 5px;
}

.questionRate {
  margin: 0px;
  min-width: 150px;
}
