/* ----------------------- GLOBAL ELEMENTS ----------------------- */
body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

p {
  margin: 0;
}

.linkText {
  text-decoration: none;
  color: black;
}

.linkText:hover {
  text-decoration: underline;
}

.gBtn:hover {
  background-color: lightskyblue;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

/* ----------------------- MAIN APP ----------------------- */
.fullAppDiv {
  position: relative;
}

.belowNavDiv {
  display: flex;
}

.rightContentDiv {
  display: flex;
  flex-direction: column;
}

/* ----------------------- NAV BAR ----------------------- */
.navBarDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(75, 75, 75, 1);
  height: 50px;
  padding: 0 15px;
  font-size: 20px;
  font-weight: bold;
}

.navBarText {
  color: rgba(0, 152, 195, 1);
  font-size: 25px;
}

.navBarLink {
  margin-left: 20px;
}

.selectedNavLink {
  color: blue;
  font-weight: bold;
}

/* ----------------------- AUTH FORM ----------------------- */
.signInFullDiv {
  display: flex;
  justify-content: space-evenly;
  color: black;
  background-color: beige;
  height: 100vh;
  width: 100vw;
}

.authFormDiv {
  margin-top: 35px;
  width: 450px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.authFormHeader {
  font-size: 25px;
  font-weight: bold;
  margin-top: 25px;
}

.login-authFormDiv {
  background-color: orange;
}

.signup-authFormDiv {
  background-color: lightskyblue;
}

.authBtnDiv {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.authSignInBtn {
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  width: 135px;
  height: 30px;
  color: black;
}

.authForm {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.authPreBtnDiv {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.authInputDiv {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.authFormLabel {
  width: 150px;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.authInputBox {
  width: 150px;
  height: 25px;
  padding: 0;
  font-size: 15px;
}

.authErrorMessage {
  font-size: 16px;
}

/* ----------------------- USER ----------------------- */
.userFullDiv {
  background-color: lightgreen;
  padding: 15px;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questionAddBtn {
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  color: black;
}

.userSignInLink {
  color: black;
}

.userSignInLink:hover {
  color: blue;
}

/* ----------------------- ROADMAP ----------------------- */
.roadMapFullDiv {
  background-color: aqua;
  padding: 15px;
  width: 70vw;
  min-height: 150px;
}

/* ----------------------- QUESTION LIST ----------------------- */
.probListFullDiv {
  background-color: bisque;
  padding: 15px;
  width: 70vw;
  min-height: 150px;
}

/* ----------------------- QUESTION FORM ----------------------- */
.questPopFullDiv {
  background-color: rgba(225, 225, 225, 0.9);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.questForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: gray;
  border-radius: 5px;
  width: 300px;
  height: 400px;
  margin-top: 30px;
  overflow: scroll;
}

.questLabels {
  font-weight: bold;
}

.questSelect {
  min-width: 50px;
  font-size: 15px;
  height: 22px;
  margin-bottom: 15px;
}

.inputBox {
  width: 200px;
  min-height: 30px;
  margin-bottom: 15px;
}

.questBtnDiv {
  display: flex;
  justify-content: space-evenly;
  width: 95%;
  color: black;
  margin-top: 15px;
}

.questBtn {
  height: 35px;
  width: 95px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
}

/* ----------------------- QUESTION ----------------------- */
.questionFullDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 10px;
  padding-bottom: 20px;
}

.qFullDivtrue {
  background-color: paleturquoise;
}

.qFullDivfalse {
  background-color: gray;
}

.questNameDiv {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.questionName {
  margin-right: 10px;
}

.qNameHovertrue:hover {
  color: blue;
}

.questNameSymbol {
  font-size: 20px;
  color: green;
}

.questionDesc {
  margin-bottom: 5px;
}

.questionRateDiv {
  display: flex;
  margin-bottom: 5px;
}

.questionRate {
  margin: 0px;
  margin-right: 35px;
}

.qRatetrue {
  color: green;
}

.questionLink {
  color: blue;
}

/* ----------------------- TAG ----------------------- */
.tagFullDiv {
  background-color: lightgrey;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 20px;
}

.tagHeader {
  margin-bottom: 5px;
}

/* ----------------------- QUESTION SURVEY ----------------------- */
.questSurveyFullDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: gray;
  border-radius: 5px;
  width: 300px;
  height: 330px;
  margin-top: 30px;
}

.questSurveyText {
  margin: 15px 0;
}

.questSurveyRadioDiv {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin-bottom: 10px;
}

.questSurveyPair {
  display: flex;
  align-items: center;
  width: 40%;
}

.questSurveyLabels {
  font-size: 20px;
  margin-right: 5px;
}

.surveyRadio {
  height: 30px;
  width: 30px;
}

/* ----------------------- ADMIN PANEL ----------------------- */
.adminPanelSideBar {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  padding: 15px;
  width: 250px;
  min-height: 100vh;
}

.sideBarLink {
  font-size: 20px;
  margin-bottom: 50px;
}

.adminContentDiv {
  background-color: beige;
  width: 100vw;
  padding: 15px;
}

.adminSingleDiv {
  background-color: lightgray;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}

/* ----------------------- ADMIN QUESTION ----------------------- */
.adminQuestRow1 {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.adminQuestBtn {
  margin-left: 15px;
  border-radius: 5px;
  height: 25px;
  color: black;
  font-size: 14px;
  font-weight: 700;
}

.adminQuestForm {
  display: flex;
  flex-direction: column;
  background-color: lightgreen;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

.adminQuestFormDiv {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}

.adminQuestLabel {
  font-size: 18px;
  font-weight: bold;
  width: 175px;
}

.adminQuestTextArea {
  border-radius: 3px;
  font-size: 15px;
  height: 20px;
}

.adminQuestSelect {
  display: flex;
  font-size: 15px;
  height: 22px;
  min-width: 50px;
}

.adminQuestFormBtn {
  font-size: 15px;
  font-weight: bold;
  color: black;
  border-radius: 5px;
  height: 25px;
  width: 150px;
  margin-top: 10px;
}

/* ----------------------- ADMIN PROPOSE QUESTION ----------------------- */
.adminPropQRow {
  display: flex;
  align-items: center;
}

.adminPropQText {
  margin-top: 10px;
  margin-right: 25px;
}

/* ----------------------- ADMIN USER ----------------------- */
.adminUserRow {
  display: flex;
  align-items: center;
}

.adminUserText {
  margin-top: 10px;
  margin-right: 25px;
}

/* ----------------------- ADMIN TAG ----------------------- */
.adminTagRow {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.adminTagQuest {
  margin-bottom: 5px;
}

/* ----------------------- CHARTS ----------------------- */
.allQuestPieDiv {
  background-color: lightgray;
  width: 50%;
  margin: 20px 0;
  padding: 15px;
  border-radius: 5px;
}
